body {
    background-color: #527852;
    color: rgba(4, 2, 2, 0.87);
}

ul {
    text-align: center;
    font-size: 32px;
    background-color: rgba(160, 136, 71, 0.98);
    margin:20px;
    padding:0;
    list-style:none;
    width:auto;
    text-decoration:none;
    padding:5px 0;
    color: #193819;
}

a:link {
    text-decoration: none;
    color: #193819;
}
a:visited {
    text-decoration: none;
    color: #193819;
}

h1 {
    text-align: center;
    font-size: 70px;
}

h2 {
    text-align: center;
    font-size: 50px;

}

p {
    text-align: center;
    font-size: 30px;
}

img {
    border-radius: 2rem;
    border: #efaf0a;
    transition: 500ms;
    display: block;
}



.m1 {
    background-color: rgba(160, 136, 71, 0.98);
    padding: 1rem;
    margin: 1rem;
}



TABLE {
    border-collapse: collapse;
    border: 3px solid rgba(160, 136, 71, 0.98);
    margin-left: auto;
    margin-right: auto;
    background-color: #CCCCCC;
}
TD {
    border: 3px solid rgba(160, 136, 71, 0.98);
    text-align: center;
    width: 50px;
    font-size: 40px;}
tr {
    font-size: 35px;}
caption {
    font-size: 30px;}

